<div id="multicolumns" class="mul-col-blue container text-center">

    <section id="videoContainer">
        Teaser
        <!-- Introduction -->
        <video width="400" controls>
            <source src="~/Media/videos/videoblocks-plump-girl-overeating-burger-and-drinking-water-while-riding-exercise-bike_sext_n_cwg__PM.mp4" type="video/mp4">
        </video>
    </section>
    <canvas id="myCanvas" width="300" height="100"></canvas>
</div>

<script>
    const size = 500;
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.strokeText("Hamburgers", 20, 40);
</script>


<div class="container">
    @{
        Dictionary<string, int> counterDictionary = (Dictionary<string, int>)Session["counterDictionary"];
        if (counterDictionary != null)
        {
            string favRestaurantName = counterDictionary.FirstOrDefault(x => x.Value == counterDictionary.Values.Max()).Key;
            <div class="alert alert-success">Like @Html.Raw(favRestaurantName)? @Html.ActionLink("click", "Filter", new { restaurantName = favRestaurantName }) for more</div>
        }
    }
</div>

